<h1>Insert User Details</h1>

<form  class="insert" action="/insert" method="POST">
<input type="text" name="user_name" required  placeholder="Enter your name"   />
<input type="email" name="user_email"  placeholder="Enter your email" required  />
<input type="password" name="user_password"  placeholder="Enter your password" required  />
<input class="btn" type="submit"   value="create" />

</form>